::-webkit-scrollbar {
    display: none;
    }



.contact-body{
    margin: 0;
    height: 100%;
    overflow: hidden;
    background: #232526;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    margin:auto;
    height:100%;
    display:flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
}
.polygons{
    display:flex;
    flex-direction: column;
}

.body-list{
    display:flex;
    flex-direction: column;
}

.body-list h1{
    color:white;
}

.top-part{
    display:flex;
    margin-bottom: -400px;
    
}

.top-part h1{
  
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 56px;
    font-weight: 400;
    line-height: 1.35;
    letter-spacing: -0.02em;
    margin-top: 24px;
    margin-bottom: 24px;
}
.first {

    margin-top: 20px;
    display:flex;
    flex-direction: column;
    clip-path: polygon(1% 0, 106% 18%, 45% 63%, -4% 41%);
    background: #2D2F31;
    width:800px;
    height:800px;
}

#first-p{
   
    font-size: 40px;
    padding-top: 118px;
    color: white;
    padding-left: 33px;
    padding-bottom: 30px;
    font-size: 40px;
    color: white;
    
}
#second-p{
    width: 400px;
    margin-left: 140px;
    text-align: center;
    font-size: 32px;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 0;
    margin-bottom: 10px;
    color: aqua;
}

.bottom-part{
   display:flex;
    justify-content: space-between;
}

.bottom-part #left{
    clip-path: polygon(0 0,54% 0,84% 54%,3% 73%);
    background: #2D2F31;
    width:600px;
    height: 450px;
}

.bottom-part #left #first-left-p {
    padding-top: 44px;
    color: white;
    padding-left: 5px;
    padding-bottom: 27px;
    font-size: 40px;

}
.bottom-part #left #second-left-p {
    width: 400px;
    padding-left: 24px;
    text-align: end;
    font-size: 32px;
    font-weight: 400;
    line-height: 77px;
    letter-spacing: 0;
   padding-bottom: 10px;
    color: aqua;
}

.bottom-part #right{
    clip-path:polygon(48% 0, 256% 92%, 13% 70%, 0 31%);
    background: #2D2F31;
    width:600px;
    height:100%;
    margin-left: 9px;
}

.bottom-part #right p{
    padding-left: 20px;
    padding-top: 103px;
    text-align: center;
    font-size: 32px;
    font-weight: 400;
    line-height: 43px;
    color: aqua;
} 