
.body-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#aboutMe{
    color:white;
    font-size:40px;
    padding-top:30px;
    padding-bottom:30px;
    text-align: center;
}

.first {
    box-shadow: 2px 2px grey;
    display: flex;
   justify-content: center;
    flex-direction: row;
    clip-path: polygon(-1% 0%, 100% 13%, 102% 100%, 1% 100%, 0% 38%);
    margin-left:10px;
    width:400px;
    height:200px;
    background-color: rgb(255, 255, 255);
    
}

.first p {
    line-height:28px;
    text-align:center;
    padding-left:5px;
    padding-right:5px;
    padding-top:24px;
    font-size:30px;
    color:rgb(0, 0, 0);
}

#left {
    float:left;
    margin-top:45px;
    clip-path: polygon(80% 0, 100% 71%, 34% 100%, 0 29%);
    margin-left:10px;
    width:400px;
    height:400px;
    background-color: rgb(255, 255, 255);
}

#left p{
    line-height: 29px;
    transform: rotate(338deg);
    padding-left: 119px;
    padding-right: 0px;
    padding-top: 113px;
    font-size: 30px;
    color: rgb(0, 0, 0);
    text-align: center;
    width: 150px;
}

#right {
    transform: rotate(34deg);
    float:left;
    margin-top:80px;
    clip-path: polygon(80% 0, 100% 71%, 34% 100%, 0 29%);
    margin-left:10px;
    width:400px;
    height:400px;
    background-color: rgb(255, 255, 255);
}

#right p {
    line-height: 29px;
    transform: rotate(338deg);
    padding-left: 85px;
    padding-right: 0px;
    padding-top: 75px;
    font-size: 30px;
    color: rgb(0, 0, 0);
    text-align: center;
    width: 238px;
}

@media (max-width: 600px) {
    .contact-body{
        height:120% !important;
    }
    .first {
        box-shadow: 2px 2px grey;
        display: flex;
        justify-content: center;
        flex-direction: row;
        clip-path: polygon(-1% 0%, 100% 13%, 102% 100%, 1% 100%, 0% 38%);
        margin-left:10px;
        width:300px;
        height:200px;
        background-color: rgb(255, 255, 255);
        
    }
    .first p {
        line-height:28px;
        text-align:center;
        padding-left:5px;
        padding-right:5px;
        padding-top:24px;
        font-size:20px;
        color:rgb(0, 0, 0);
    }
    #left {
        float:left;
        margin-top:16px;
        clip-path: polygon(80% 0, 100% 71%, 34% 100%, 0 29%);
        margin-left:66px;
        width:300px;
        height:300px;
        background-color: rgb(255, 255, 255);
    }
    
    #left p{
        line-height: 34px;
        transform: rotate(338deg);
        padding-left: 79px;
        padding-right: 0px;
        padding-top: 94px;
        font-size: 20px;
        color: rgb(0, 0, 0);
        text-align: center;
        width: 150px;
    }
    #right {
        margin-top:0px;
        transform: rotate(34deg);
        float:left;
        clip-path: polygon(80% 0, 100% 71%, 34% 100%, 0 29%);
        margin-left:10px;
        width:300px;
        height:300px;
        background-color: rgb(255, 255, 255);
    }
    
    #right p {
        
        line-height: 29px;
        transform: rotate(338deg);
        padding-left: 36px;
        padding-right: 0px;
        padding-top: 68px;
        font-size: 20px;
        color: rgb(0, 0, 0);
        text-align: center;
        width: 238px;
    }


}