.mdl-layout__header-row .material-icons {
    font-size: 44px;
      line-height: 48px;
  }
  
  .resume-right-col {
    height:800px;
    overflow:scroll;
    overflow-x:hidden;
    background:#2D2F31;
    color: white;
    padding: 4em;
  }

  @media (min-width: 360px) {
    .background{
      height: 240% ;
    }

    #root > div > div > div > div.mdl-layout__content > div:nth-child(2) > div > div.mdl-cell.mdl-cell--6-col.resume-right-col {
      margin-left: 14px ;
    }
  }