.card h1{
    font-size: 40px;
}
.content{
    padding-top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tabs{
    display:flex; 
    margin-top:10px; 
    margin-left:20%;
    margin-right:20%;
    
}
.tab{
    cursor: pointer;
    color:white;
    font-size: 30px;
   margin-bottom:10px;
   margin-left:25px;
   margin-right:25px;
}
.tab:hover {
    color:aqua;
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}
.cards{
    display:flex;
    margin-top:80px;
    
}
.card {
    margin-left:10px;
    justify-content: center;
    height:300px;
    width:444px;
    background-color: rgb(245, 245, 245);
    box-shadow: 2px 2px gray;
}

.card-bottom {
    padding-top:13%;
    display:flex;
    flex-direction: column;
    align-items: center;
    line-height: 31px;
}

.card-bottom div{
    text-align: center;
    font-size: 25px;
}


.title{
    text-align: center;
}

.line {
    background-color:black;
    width:100%;
    height:5px;
}

 .github{
    text-decoration: none;
    color:aqua;
    font-size:30px; 
}

.mdl-progress >.bar{
    top:20px  !important;
    height:10px; 
}

.mdl-progress >.bufferbar{
    top:20px  !important;
    height:10px;
}

@media (max-width: 460px) {
    #root > div > div > div > div.mdl-layout__drawer-button > i{
        color:aqua;
    }
    h1{ 
    font-size: 34px !important;
    }

    .background{
        height:120% !important;
    }

    .tab{
        text-align: center;
    }
    .cards{
        display:flex;
        flex-direction: column;
        margin-top:0px;
        justify-content: center;
        align-items: center;
    }
    .card{
        margin-bottom: 10px;
        height:230px;
        width:344px;
    }

    .card-bottom{
        padding-top:5%;
    }

}