@media (min-width: 360px) {
.avatar-img{
    padding-top:0px !important;
}
#root > div > div > div > div.mdl-layout__content > div:nth-child(2) > div > div{
    margin-top:0px !important;
}

#root > div > div > div > div.mdl-layout__drawer-button{
    color:white !important;
}
#root > div > div > div > div.mdl-layout__content > div:nth-child(2) > div > div > div > h1{
    font-size: 55px !important;
}
#root > div > div > div > div.mdl-layout__content > div:nth-child(2) > div > div > div > div{
   justify-content: center !important;
}
}

@media (min-width: 1024px) {
    .avatar-img{
     padding-top:10% !important;
    }
    #root > div > div > div > div.mdl-layout__drawer-button{
        color:aqua !important;
        width:30px;
    }
  
}