.avatar-img {
    height: 250px;
    padding-top: 13em;
}


@media (max-width: 460px){
    .avatar-img {
        height: 250px;
        padding-top: 0em;
    }
    .social-links{
        width:100%;
    } 
    .banner-text h1{
    font-size: 40px;
    font-weight: bold;
    color: white;
    text-align: center;
 }
}