.avatar-img {
    height: 250px;
    padding-top: 13em;
}


@media (max-width: 460px){
    .avatar-img {
        height: 250px;
        padding-top: 0em;
    }
    .social-links{
        width:100%;
    } 

}